<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxut.courseware.springboot.mapper.UserMapper">

    <!-- 登录验证 -->
    <select id="checkUser" resultType="boolean">
        SELECT COUNT(*)
        FROM t_user
        WHERE username = #{username}
          AND password = #{password}
    </select>

    <!-- 新增用户 -->
    <insert id="addUser" parameterType="User">
        INSERT INTO t_user(username, password, realname, sex, address, tel, type, birthday)
        VALUES (#{username}, #{password}, #{realname}, #{sex}, #{address}, #{tel}, #{type}, #{birthday})
    </insert>

    <!-- 删除用户 -->
    <delete id="deleteUser">
        DELETE
        FROM t_user
        WHERE id = #{id}
    </delete>

    <!-- 更新用户 -->
    <update id="updateUser" parameterType="User">
        UPDATE t_user
        SET realname = #{realname},
            sex      = #{sex},
            address  = #{address},
            tel      = #{tel},
            type     = #{type},
            birthday = #{birthday}
        WHERE id = #{id}
    </update>

    <!-- 查询单个用户 -->
    <select id="findUserById" resultType="User">
        SELECT *
        FROM t_user
        WHERE id = #{id}
    </select>

    <!-- 根据用户名查询用户 -->
    <select id="findUserByUsername" resultType="User">
        SELECT *
        FROM t_user
        WHERE username = #{username}
    </select>

    <!-- 查询总记录数 -->
    <select id="countAllUsers" resultType="int">
        SELECT COUNT(*)
        FROM t_user
    </select>

    <!-- 分页查询 -->
    <select id="queryUsersByPage" resultType="User">
        SELECT *
        FROM t_user
        LIMIT #{start}, #{pageSize}
    </select>

    <!-- 根据真名模糊查询记录数   -->
    <select id="countUsersByRealname" resultType="int">
        SELECT COUNT(*)
        FROM t_user
        WHERE realname LIKE CONCAT('%', #{realname}, '%')
    </select>

    <!-- 根据真名模糊分页查询用户 -->
    <select id="queryUsersByRealnameWithPage" resultType="User">
        SELECT *
        FROM t_user
        WHERE realname LIKE CONCAT('%', #{realname}, '%')
        LIMIT #{start}, #{pageSize}
    </select>

</mapper>
